<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Szekelys on Earth | Contest Entry</a></title>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body >
	<div class="row">
		<div class="col-lg-5 left w3-animate-left"></div>
			<div class="earth">
				<div></div>
			</div>
		<div class="col-lg-5 w3-animate-right">
			<h1 class="title">Szekelys on Earth | Contest Entry</h1>
			<p class="intro">This site was made by Tamás Imets as a contest entry for the <a style="color: white" href="http://csaladenes.egologo.ro/?p=1129">SzékelyData Data Visualisation Contest</a>.</p>
			<div class="links">
			<a href="/livesin" style="margin-right: 20px;">Interactive Globe</a>
			<a href="/plots" style="margin-left: 20px; margin-right: 20px;">Static Plot Gallery</a>
			<a target="_blank" href="https://github.com/Imetomi" style="margin-left: 20px;">Code</a>
			</div>
		</div>
	</div>
</body>

</html>